/*
this is a test css file, feel free to use other tool like styled component Or SCSS to do the style for your project.
*/
.container{
  width: 60%;
  margin: auto;
}
.header {
  text-align: center;
}
.dropdown{
  position: relative;
  display: inline-block;
}
.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}